<p id="notice"><%= notice %></p>

<h1>Canvas</h1>

<table>
  <thead>
    <tr>
      <th colspan="2">Canvas</th>
    </tr>
  </thead>

  <tbody>
    <% @canvas.each do |canva| %>
      <tr>
        <td><%= link_to canva.name, edit_canva_path(canva) %></td>
        <td><%= link_to 'X', canva, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Canvas', new_canva_path %>
